/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 100%;
}
code.block {
    display:block;
    white-space:pre-wrap;
}

.vertical-align-center {
    display: flex;
    align-items: center;
}

.navbar-default .navbar-nav > li:hover > a {
    color: #555;
    background-color: #e7e7e7;
}

.avatar {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}

.avatar-large {
    width: 128px;
    height: 128px;
    margin: 20px 0 10px 0;
}

.rating-col-large {
    margin-top: 20px;
}

.question-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}