<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <hr>
    <div class="container">
        <div class="col-md-3">
            <div class="col-md-9 text-center">
                <img class="avatar-large" src="../../resources/img/default.jpg"
                     th:src="'/resources/img/' + ${question.getAuthor().getAvatarPath()}">
                <div th:text="${question.getAuthor().getName()}">
                    Author
                </div>
            </div>
            <div class="col-md-3 rating-col-large text-center">
                <div class="row">
                    <a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
                <div class="row" th:text="${question.getRating()}">
                    43
                </div>
                <div class="row">
                    <a href="#"><span class="glyphicon glyphicon-chevron-down"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2 th:utext="${question.getHeader()}">Header</h2>
            <div th:utext="${question.getContent()}">content</div>
        </div>
    </div>
    <hr>
    <div th:each="answer : ${answers}">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-2 text-center">
                    <img class="avatar" th:title="${answer.getAuthor().getName()}" src="../../resources/img/default.jpg"
                         th:src="'/resources/img/' + ${answer.getAuthor().getAvatarPath()}">
                    <div>
                        <label>correct!
                            <input type="checkbox" readonly onclick="return false;"
                                   checked th:checked="${answer.isCorrect()}"/>
                        </label>
                    </div>
                </div>
                <div class="col-md-10">
                    <div th:utext="${answer.getContent()}">Answer</div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- TODO allow only <code> and/or <pre> tags -->
    <form action="#" th:action="@{/answer}" method="post">
        <div class="form-group">
            <textarea class="form-control" id="answer-text-area"
                      rows="5" placeholder="Enter your answer here..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Answer</button>
    </form>
    <hr>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>