<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="page-header">
        <h2>Settings</h2>
    </div>
    <div class="row">
        <!-- left column with avatar -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="//placehold.it/128" class="avatar-large" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input type="file" class="form-control">
            </div>
        </div>

        <!-- right column with profile info -->
        <div class="col-md-9 personal-info">
            <form class="form-horizontal form-settings-avatar-large" role="form"
                  action="/settings" th:object="${userDto}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        <input class="form-control" id="username" name="username" type="text" value="john"
                               th:value="*{name}" th:field="*{name}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" id="email" name="email" type="text" value="john.doe@example.com"
                               th:value="*{email}" th:field="*{email}" required>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        <input class="form-control" id="password" type="password" value="11111122333">
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm-password" class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        <input class="form-control" id="confirm-password" type="password" value="11111122333">
                    </div>
                </div>
                -->
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-lg-8">
                        <div th:if="${success}"
                             class="alert alert-info alert-dismissable text-center settings-update-message"
                             role="alert">
                            Profile is successfully updated!
                        </div>
                        <div th:if="${#fields.hasErrors('name')}"
                             class="alert alert-danger alert-dismissable text-center settings-update-message"
                             role="alert">
                            Failed to update profile. User with this name already exists.
                        </div>
                        <div th:if="${#fields.hasErrors('email')}"
                             class="alert alert-danger alert-dismissable text-center settings-update-message"
                             role="alert">
                            Failed to update profile. User with this email already exists.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>