<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div class="container" style="margin-top:30px">
    <div class="col-md-12">
        <div class="modal-dialog" style="margin-bottom:0">
            <div th:errors="${userDto}"></div>
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ul class="nav nav-tabs">
                            <li role="presentation"><a href="/login" th:href="@{/login}">Login</a></li>
                            <li role="presentation" class="active"><a href="/signup" th:href="@{/signup}">Signup</a></li>
                        </ul>
                    </h3>
                </div>
                <div class="panel-body">
                    <form id="form" role="form" action="/signup" th:object="${userDto}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <label for="username">Username*</label>
                                <input class="form-control" th:errorclass="has-error"
                                       placeholder="john" name="username" type="text" id="username"
                                       autofocus required th:field="*{name}">
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail*</label>
                                <input class="form-control" th:errorclass="has-error"
                                       placeholder="john.doe@example.com" name="email" type="email"
                                       id="email" required th:field="*{email}">
                            </div>
                            <div class="form-group">
                                <label for="password">Password*</label>
                                <input class="form-control" name="password" type="password"
                                       id="password" value=""
                                       required th:field="*{password}">
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">Confirm password*</label>
                                <input class="form-control" name="confirm-password" type="password"
                                       id="confirm-password" value="" required>
                            </div>
                            <!-- TODO
                            <div class="form-group">
                                <label for="avatar">Upload avatar</label>
                                <input type="file" id="avatar">
                            </div>
                            -->
                            <button class="btn btn-primary btn-block">Sign Up</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div th:if="${#fields.hasErrors('${userDto.*}')}">
                <div class="alert alert-danger text-center" role="alert">
                    <p><strong>Oh snap!</strong> Registration failed</p>
                    <p th:if="${#fields.hasErrors('${userDto.email}')}">
                        User with this email already exists
                    </p>
                    <p th:if="${#fields.hasErrors('${userDto.name}')}">
                        User with this name already exists
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

</body>
<script>
    $('#form').submit(function () {
        var passwordField = $('#password');
        var confirmPasswordField = $('#confirm-password');
        if (passwordField.val() !== confirmPasswordField.val()) {
            confirmPasswordField.setCustomValidity('Password does not match the confirm password.');
            return false;
        }
        return true;
    });
</script>
</html>