<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="footer">
    <div class="container">
        <h4 class="text-muted text-center">
            <a href="https://www.linkedin.com/in/vladimir-gavrilenko-30430a112/" target="_blank">
                <img th:src="@{/resources/img/linkedin.png}"></a>
            <a href="https://github.com/vladimir-gavrilenko" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/github-16.png"
                th:src="@{/resources/img/github-16.png}"></a>
        </h4>
    </div>
</footer>
</html>
