<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Ask Pupkin!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"><a href="/">Top Questions</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/new' ? 'active':''}"><a href="/new">New Questions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAnonymous()"><a href="/login" th:href="@{/login}">Log in</a></li>
                <li sec:authorize="isAnonymous()"><a href="/signup" th:href="@{/signup}">Sign up</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/user/1" th:href="@{/user/}" sec:authentication="name">Foo</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout" th:href="@{/logout}">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
</html>
